<!html>
<head>
    <title>WFF Planner</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.png">

    <link href="{{ STATIC_URL }}css/facebook.css" type="text/css" rel="stylesheet" media="all" />
    <meta property="fb:app_id" content="542111425805166" />
    <meta property="og:title" content="Warm Romantic Comedy" />
    <meta property="og:image" content="https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png" />
    <meta property="og:url" content="http://wffplanner.stepniowski.com/" />
    <meta property="og:type" content="video.movie" />
</head>

<div id="logo"><div>WFF planner</div></div>

<div id="logo-patch"></div>

<div id="header">
        <div class="facepile"><iframe src="http://www.facebook.com/plugins/facepile.php? 
app_id={{ FACEBOOK_APP_ID }}" scrolling="no" frameborder="0" style="border:none;  
overflow:hidden; width:240px; height:68px;" allowTransparency="true"></iframe></div>

    {% if user.get_profile.facebook_id %}
    <p style="margin-left: 180px; height: 60px; width: 640px">Klikaj lewym przyciskiem myszy aby zaznaczyć seanse, na które zamierzasz się wybrać.<br>Te informacje będą od razu widoczne dla Twoich znajomych.</p>
    {% else %}
    <div class="facebook-login">
    <form action="{% url facebook_connect %}?facebook_login=1" method="post">
	<a href="javascript:void(0);" onclick="F.connect(this.parentNode);" class="facebook-connect"><img src="{{ STATIC_URL }}img/fb-login.png"></a> <p>aby zobaczyć, na jakie seanse wybierają się Twoi znajomi, a także przygotować własny plan.
	<input type="hidden" value="{{ request.path }}" name="next" />
    </form>
    </div>
    {% endif %}
</div>

<div id="rooms">
    {% for room in calendar.rows %}
    <div class="room2" style="height: {{ room.height }}px; top: {{ room.position }}px;"><span>{{ room.name }}</span>
	{% for row in room.screenings %}
	<div class="time"><b>{{ row.time }}</b></div>
	{% endfor %}
    </div>
    {% endfor %}
</div>

<div id="schedule">
<table cellspacing="0" cellpadding="0">
    <tr>
	{% for day in calendar.days %}
	<th>{% cycle "piątek" "sobota" "niedziela" "poniedziałek" "wtorek" "środa" "czwartek" %} {{ day }}.X</th>
	{% endfor %}
    </tr>
{% for room in calendar.rows %}
{% for row in room.screenings %}
<tr>
    {% for day in row.screenings %}
    <td>{% for screening in day %}
	<div class="screening" id="{{ screening.id }}">
	    <a href="{{ screening.movie.url }}">{{ screening.movie.title }}</a>
	    <div class="attendees"></div>
	</div>
	{% empty %}
	&nbsp;
	{% endfor %}
    </td>
    {% endfor %}

</tr>
{% endfor %}
{% endfor %}
</table>
</div>
<script>
var MY_ID = "{{ user.get_profile.facebook_id }}"
</script>
{% include 'django_facebook/_facebook_js.html' %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/script.js"></script>

