<!html>
<head>
    <title>WFF Planner</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <meta property="fb:app_id" content="542111425805166" />
    <meta property="og:title" content="Warm Romantic Comedy" />
    <meta property="og:image" content="https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png" />
    <meta property="og:url" content="http://wffplanner.stepniowski.com/" />
    <meta property="og:type" content="video.movie" />
</head>

{% if not social_auth.facebook %}
<div class="facebook-connect"><a href="{% url socialauth_begin 'facebook' %}"><img src="/static/img/facebook-connect.png?dssa"></a> <p>to see screenings your friends are attending and set your own.</p></div>
{% endif %}

<div id="plan">
<table cellspacing="0" cellpadding="0">
    <tr><th class="room">&nbsp;</th><th>&nbsp;</th>
	{% for day in calendar.days %}
	<th>{% cycle "piatek" "sobota" "niedziela" "poniedzialek" "wtorek" "sroda" "czwartek" %} {{ day }}.X</th>
	{% endfor %}
    </tr>
{% for row in calendar.rows %}
<tr>
    <td class="room"><div>{% ifchanged row.room %}{{ row.room }}{% endifchanged %}</div></td>
    <td>{{ row.time }}</td>
    {% for day in row.screenings %}
    <td>{% for screening in day %}
	<div class="screening" id="{{ screening.id }}">
	    <a href="{{ screening.movie.url }}">{{ screening.movie.title }}</a>
	    <div class="attendees"></div>
	</div>
	{% endfor %}
    </td>
    {% endfor %}

</tr>
{% endfor %}
</table>
</div>
<script>
var MY_ID = "{{ social_auth.facebook.extra_data.id }}";
</script>
<script type="text/javascript" src="/static/script.js"></script>
