body {
    font: 11px Georgia;
    color: #333;
    padding: 0;
    margin: 0;
    background-color: white;
}

a {
    font: 11px Georgia;
    color: #333;
    text-decoration: none;
}

td, th {
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 0;
    background-color: #F3F3F3;
    max-height: 100px;
    overflow: hidden;
}

tr {
    max-height: 100px;
    overflow: hidden;
}

th {
    font-weight: bold;
    padding: 10px 0;
    background-color: #FFF;
}

.room {
    /* transform: rotate(90deg); */
    /* -webkit-transform: rotate(90deg); */
    width: 140px;
    font-size: 17px;
    font-weight: bold;
    background-color: #999;
    color: #FFF;
}

.avatar {
    width: 24px;
    height: 24px;
    border: 2px solid #FFF;
    -moz-box-shadow: 2px 2px 4px #999;
    -webkit-box-shadow: 2px 2px 4px #999;
    box-shadow: 2px 2px 4px #999;;
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.attendees .count {
    width: 24px;
    height: 24px;
    font-size: 13px;
    border: 1px solid #CCC;
    float: right;
    background-color: #FFF;
    color: blue;
    text-align: center;
    padding-top: 4px;
    -moz-box-shadow: 2px 2px 4px #999;
    -webkit-box-shadow: 2px 2px 4px #999;
    box-shadow: 2px 2px 4px #999;;
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    z-index: 2;
}

.facebook-login {
    position: absolute;
    top: 10px;
    left: 180px;
}

#logo {
    position: absolute;
    top: -150px;
    left: -150px;
    z-index: 21;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: red;
    box-shadow: 6px 6px 12px darkred;
}

#logo div {
    position: absolute;
    top: 160px;
    left: 160px;
    color: white;
    font-size: 32px;
}

#logo-patch {
    position: absolute;
    width: 90px;
    height: 42px;
    top: 120px;
    left: 0;
    background-color: red;
    z-index: 22;
}

#header {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    height: 68px;
    padding: 6px;
    z-index: 20;
    box-shadow: 6px 6px 12px #999;
    border: 1px solid #999;
    
    background-color: white;
    color: #333;
    line-height: 28px;
    font-size: 16px;
    text-shadow: 1px 1px #EEE;   
}

.facebook-connect {
    float: left;
}

#header p {
    margin: 0 0 0 120px;
    padding: 0;
    width: 480px;
}

#schedule {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 90px;
    overflow: scroll;
}


.facebook-connect p {
    margin: 0 0 0 242px;
}

.screening {
    width: 140px;
    height: 89px;
    padding: 5px;
    position: relative;
}

.screening.active {
    background-color: #CCC;
}

.attendees {
    position: absolute;
    height: 28px;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    z-index: 10;
}

.attendees img {
    float: right;
}

.avatar.me {
    border-color: yellow;
}

.facepile {
    float: right;
}

#rooms {
    position: absolute;
    top: 81px;
    right: auto;
    bottom: 0;
    left: 0;
    width: 90px;
    overflow: hidden;
    background-color: red;
    box-shadow: 6px 6px 12px darkred;
    z-index: 20;
}

.time {
    margin-left: 40px;
    height: 10px;
    width: 50px;
    padding: 45px 10px;
}

.time b {
    text-align: center;
    color: #FFF;
    
}

.room2 {
    position: absolute;
    border: 1px solid red;
    width: 90px;
    background-color: red;
    border-top: 3px solid darkred;
}

.room2 span {
    position: absolute;
    top: 50%;
    left: -82px;
    width: 200px;
    text-align: center;
    height: 20px;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    color: #FFF;
    font-size: 24px;
}

#facebook-share img {
    float: left;
}

#facebook-share {
    cursor: pointer;
    width: 260px;
    border: 1px solid #CCC;
    background-color: #EEE;
    padding: 2px;
    margin-top: -2px;
}

#facebook-share:hover {
    background-color: #DDD;
}

#facebook-share p {
    margin-left: 35px;
    width: 220px;
}